<div class="welcome row">
    <div class="col s12 m9">
        <h4>Welcome, <%= @user.first_name%></h4>
        <p>(not <%= @user.first_name%>? login <a href="/login">here</a>)</p>
    </div>


</div>
<div class="row">
    <div class="col s6">
        <a href="/logout"><button type="button" class="btn large orange lighten-1" name="logout">Logout</button></a>
    </div>
    <div class="col s6">
        <a href="/add-job"><button type="button" class="btn large light-blue darken-3 right" name="logout">Add job</button></a>
        <a class="btn-floating deep-purple lighten-1 tooltipped right archive" data-position="top" data-delay="50" data-tooltip="Archived Jobs" href="/archived-jobs"><i class="material-icons">query_builder</i></a>
    </div>
</div>
<hr>

<div class="row jobs">
    <% if @user.jobs.empty?%>
        <h4 class="center-align">Add a Job to Get Started!</h4>
        <p class="center-align">
            <a class="btn-floating light-blue darken-3" href="/add-job"><i class="material-icons">add</i></a>
        </p>
    <% else %>
        <div class="col s12 m6 l3">
            <h4 class="center-align">Need to Apply</h4>
            <div class="collection">
                <% @user.jobs.sort.reverse.each do |job|%>
                    <% if (job.apply.nil? || job.apply == false) && (job.offer.nil? || job.offer == false) && job.archived == false %>
                        <a href="/job-details/<%=job.id%>" class="collection-item flow-text"><%=job.company_name%><span><%if job.state%><%=job.state.state_code%><%end%></span></a>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <h4 class="center-align">Applied</h4>
            <div class="collection">
                <% @user.jobs.sort.reverse.each do |job|%>
                    <% if job.apply && job.apply == true && (job.interview.nil? || job.interview == false) && (job.offer.nil? || job.offer == false) && job.archived == false %>
                        <a href="/job-details/<%=job.id%>" class="collection-item flow-text"><%=job.company_name%><span><%if job.state%><%=job.state.state_code%><%end%></span></a>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <h4 class="center-align">Interviewing</h4>
            <div class="collection">
                <% @user.jobs.sort.reverse.each do |job|%>
                    <% if job.interview && job.interview == true && (job.offer.nil? || job.offer == false) && job.archived == false %>
                        <a href="/job-details/<%=job.id%>" class="collection-item flow-text"><%=job.company_name%><span><%if job.state%><%=job.state.state_code%><%end%></span></a>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <h4 class="center-align">Got an Offer</h4>
            <div class="collection">
                <% @user.jobs.sort.reverse.each do |job|%>
                    <% if job.offer && job.offer == true && job.archived == false %>
                        <a href="/job-details/<%=job.id%>" class="collection-item flow-text"><%=job.company_name%><span><%if job.state%><%=job.state.state_code%><%end%></span></a>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
});
</script>
