<!DOCTYPE html>
<html>
<head>
    <title>Land IT: Job Organizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="screen"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="author" content="Kelly Howard"/>
    <meta name="description" content="A job search organizer to help land your dream job in the tech industry. Take notes on job positions & interview questions. Track the status of each application. Refine your cover letter with helpful guides."/>
    <meta name="keywords" content="Job, Search, Organizer, self-help, dream, landit"/>
</head>
<body>
    <header>
        <%= image_tag('landit_long_header.png', class: 'header_img')%>
        <div class="heading center-align">
            <h1 class="deep-purple-text">Land&nbsp;IT</h1>
            <p class="flow-text">
                job search organizer to help you land your dream IT job
            </p>
        </div>
        <div class="static_header">
            <div class="sky_block"></div>
            <div class="grass_block"></div>
        </div>
    </header>
    <main>
        <% if session[:id]%>
            <div class="fixed-action-btn horizontal click-to-toggle" style="top: 45px; right: 24px;">
                <a class="btn-floating btn-large orange darken-2">
                    <i class="large mdi-navigation-menu"></i>
                </a>
                <ul>
                    <li><a class="btn-floating orange tooltipped" data-position="top" data-delay="50" data-tooltip="Edit Account Info" href="/update-account"><i class="material-icons">perm_identity</i></a></li>
                    <li><a href="/dashboard/compare_salaries" class="btn-floating yellow darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Compare Salaries"><i class="material-icons">insert_chart</i></a></li>
                    <li><a href="/dashboard/cover_letter_tips" class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Tips on Cover Letter"><i class="material-icons">description</i></a></li>
                    <li><a class="btn-floating deep-purple lighten-2 tooltipped" data-position="top" data-delay="50" data-tooltip="Dashboard" href="/dashboard"><i class="material-icons">view_quilt</i></a></li>
                    <li><a class="btn-floating light-blue darken-3 tooltipped" data-position="top" data-delay="50" data-tooltip="Add a Job" href="/add-job"><i class="material-icons">add</i></a></li>
                </ul>
            </div>
        <% end %>
        <div class="container">
            <div id="toTop">
                <a href="#top"><i class="material-icons small">keyboard_arrow_up</i></a>
            </div>
            <%= yield %>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row sun_logo">
                <div class="col s4">
                    <p class="flow-text">enjoy today.</p>
                </div>
                <div class="col s4">
                    <%= image_tag('sun_logo.png', class: "sun")%>
                </div>
                <div class="col s4">
                    <p class="flow-text">just breathe.</p>
                </div>

            </div>
            <!-- <div class="clear_sun"></div> -->
        </div>
        <div class="footer-copyright">
            <span>© 2016 Kelly Brooke Howard</span>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="kellybhoward@gmail.com">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="LandIT by Kelly Howard`">
                <input type="hidden" name="item_number" value="1">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <a class="btn-floating green right" href="http://developer.kellybhoward.com" target="_blank">
                <i class="material-icons">code</i>
            </a>
            <a class="btn-floating yellow right" href="https://www.linkedin.com/in/kellybhoward" target="_blank">
                <%= image_tag('linkedin.gif', class:'social-media')%>
            </a>
            <a class="btn-floating light-blue right" href="https://github.com/kellybhoward" target="_blank">
                <%= image_tag('git.gif', class:'social-media')%>
            </a>
            <a class="btn-floating orange right" href="https://twitter.com/greenfairy71131" target="_blank">
                <%= image_tag('twitter_logo.gif', class:'social-media')%>
            </a>
        </div>
    </div>
</footer>
</body>
</html>
